.DS_Store
.vscode/
*.a
*.o
push_swap
obj/
traces.txt
checker_Mac
checker_linux
push_swap_test.sh
tests/*
!tests/*.c
!tests/*.h
!tests/Makefile
Push-Swap-Tester
push_swap_tester
test_push_swap
0
push_swap_visualizer